<!doctype html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
</head>
<body>
    <%- include('../includes/navigation') %>
    <main>orders</main>
    <%- include('../includes/end') %>
</body>
</html>
